<section class="container m-16">
  <h1 class="font-bold text-xl text-cyan-900">BEM-SCSS</h1>
  <code>
    <br />
    1. Crear una lista ordenada con 3 elementos, su contenido debe ser de texto
    inicialmente<br />
    2. Establecer una arquitectura BEM y SCSS <br />
    3. Modificar el primer elemento para colocar un input de tipo texto, este
    debe tener los bordes redondeados <br />
    4. Modificar el segundo elemento para cambiar su color de fondo (modifier -
    danger - BEM)
  </code>
</section>
