<section class="container m-16">
  <h1 class="font-bold text-xl text-cyan-900">HTML5</h1>
  <code>
    <br />
    Maqueta un formulario semantico que solicite la siguiente información:
    <br />
    - Nombres <br />
    - Apellidos <br />
    - Edad (Numérico) <br />
    - Correo (Formato de correo) <br />
    - Sexo (Debe ser un radio con opciones Masculino / Femenino) <br />
    - Una imagen que solo acepte formato jpg/png <br />
    <br />
    <strong
      >Solo considerar las etiquetas de HTML y aplicar semantica web</strong
    >
  </code>
</section>
