<section class="container m-16">
  <h1 class="font-bold text-xl text-cyan-900">CSS</h1>
  <code>
    <br />
    FORMULARIOS <br />
    En base al maquetado del formulario en HTML estilizalo usando CSS y sigue
    las siguientes instrucciones: <br />
    - Estiliza de manera libre <br />
    - Considerar pseudoelementos y/o pseudoclases si es necesario <br />
    - Cambia el color del radiobutton al tener estado checked <br />
    - El formulario debe ser responsivo <br />
    - El botón de Guardar debe cambiar de color al pasar el cursor sobre el
    <br />
    <br />
    <br />
    GRID y/o FLEXBOX <br />
    - El diseño es de manera libre - Debe tener una imagen, título, descripción
    y un enlace ver más. <br />
    - Diseña una card que cumpla con el sistema FLEXBOX <br />
    - Realiza un listado de cards y estan que se repitan de 4 en 4 ocupando todo
    el ancho del viewport <br />
  </code>
  <br />
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    (click)="navigateBEM()"
  >
    Avanzar a BEM-SCSS
  </button>
</section>
<router-outlet></router-outlet>
